<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Products</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


<div class="container">
  <div th:replace="fragments/header :: header"></div>
  <h1>Product List</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productList}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.description}"></td>
      <td th:text="${product.unitprice}"></td>
      <td>
        <a class="btn btn-secondary" th:href="@{/product/edit/{id}(id=${product.id})}">Edit</a>
        <a class="btn btn-danger" th:href="@{/product/delete/{id}(id=${product.id})}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>